{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}DevBook - Book Reviewing System{% endblock %}</title>
        {% include 'layouts/stylesheets.html' %}
    </head>
    <body class="no_scroll">
        {% include 'layouts/header-no-scroll.html' %}
        {% block content %} {% endblock %}
        {% block footer %}{% endblock %}
        {% include 'layouts/javascripts.html' %}
    </body>
</html>
