{% load static %}

<script src="{% static 'assets/global/plugins/respond.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/excanvas.min.js' %}"></script>

<script src="{% static 'assets/global/plugins/jquery.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/jquery-migrate.min.js' %}"></script>

<script src="{% static 'assets/global/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/jquery.blockui.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/jquery.cokie.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/uniform/jquery.uniform.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>

<script src="{% static 'assets/global/plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/select2/select2.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js' %}"></script>
<script src="{% static 'assets/admin/pages/scripts/form-samples.js' %}"></script>
<script src="{% static 'assets/global/plugins/ckeditor/ckeditor.js' %}"></script>

<script src="{% static 'assets/global/plugins/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'assets/admin/pages/scripts/table-advanced.js' %}"></script>
<script src="{% static 'assets/admin/pages/scripts/table-managed.js' %}"></script>

<script src="{% static 'assets/global/plugins/fuelux/js/spinner.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js' %}"></script>
<script src="{% static 'assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/jquery.input-ip-address-control-1.0.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/bootstrap-pwstrength/pwstrength-bootstrap.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/jquery-tags-input/jquery.tagsinput.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js' %}"></script>
<script src="{% static 'assets/global/plugins/typeahead/handlebars.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/typeahead/typeahead.bundle.min.js' %}"></script>

<script src="{% static 'assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js' %}"></script>

<script src="{% static 'assets/global/plugins/bootstrap-growl/jquery.bootstrap-growl.min.js' %}"></script>
<script src="{% static 'assets/admin/pages/scripts/ui-bootstrap-growl.js' %}"></script>

<script src="{% static 'assets/global/plugins/jquery-nestable/jquery.nestable.js' %}"></script>

<script src="{% static 'assets/global/scripts/metronic.js' %}"></script>
<script src="{% static 'assets/admin/layout/scripts/layout.js' %}"></script>
<script src="{% static 'assets/admin/layout/scripts/demo.js' %}"></script>

<script src="{% static 'assets/admin/pages/scripts/ui-confirmations.js' %}"></script>

<script src="{% static 'assets/admin/pages/scripts/components-dropdowns.js' %}"></script>
<script src="{% static 'assets/admin/pages/scripts/components-form-tools.js' %}"></script>

<script src="{% static 'assets/admin/app.js' %}"></script>
<script>
    jQuery(document).ready(function () {
        Metronic.init();
        Layout.init();
        Demo.init();
        UIBootstrapGrowl.init();
    });
</script>
