{% load static %}

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all">
<link rel="stylesheet" href="{% static 'assets/global/plugins/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/global/plugins/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/global/plugins/uniform/css/uniform.default.css' %}">
<link rel="stylesheet" href="{% static 'assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css' %}">

<link rel="stylesheet" href="{% static 'assets/global/plugins/bootstrap-select/bootstrap-select.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/global/plugins/select2/select2.css' %}">
<link rel="stylesheet" href="{% static 'assets/global/plugins/jquery-multi-select/css/multi-select.css' %}">

<link rel="stylesheet" href="{% static 'assets/global/plugins/jquery-nestable/jquery.nestable.css' %}">
<link rel="stylesheet" href="{% static 'assets/global/plugins/rateit/src/rateit.css' %}">

<link rel="stylesheet" href="{% static 'assets/global/css/components.css' %}">
<link rel="stylesheet" href="{% static 'assets/global/css/plugins.css' %}">
<link rel="stylesheet" href="{% static 'assets/admin/layout/css/layout.css' %}">
<link rel="stylesheet" href="{% static 'assets/admin/layout/css/themes/darkblue.css' %}">
<link rel="stylesheet" href="{% static 'assets/admin/layout/css/custom.css' %}">

<link rel="stylesheet" href="{% static 'assets/admin/app.css' %}">
