{% load static %}
<link rel="icon" href="{% static 'images/logo_200x200.png' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/fontawesome-free/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet"
      href="{% static 'admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/jqvmap/jqvmap.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/dist/css/adminlte.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/daterangepicker/daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/summernote/summernote-bs4.css' %}">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
<link href="{% static 'css/adminCss.css' %}" rel="stylesheet">
