@import "rate.css";
@import "timeline.css";

body {
    font-family: sans-serif !important;
}
.color-red {
    color: red;
}
.errorlist {
    color: red;
}

.banner_part_custom {
    background-color: #b9deff;
}

.no_scroll {
    height: 100%;
    overflow-y: hidden
}

.logo-nav-bar {
    max-height: 100px;
}

.banner-image {
    max-height: 400px;
    max-width: 700px;
}

.margin_banner_text {
    margin-top: -70px;
}

.padding_0 {
    padding: 0;
}
.paddingBottom_0 {
    padding-bottom: 0;
}
.bgImg {
    /*background-color: #9dafbb;*/
    background-color: hsla(222, 77%, 71%, 0.3);
}

.textCenter {
    text-align: center;
}

.itemBestBooks {
    padding: 32px;
    /*background-color: #fff;*/
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.itemBestBooks h4 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 14px;
}

a.disabled {
    pointer-events: none;
}

.active_cate {
    color: #ff3368 !important;
}

#inner_search {
    text-transform: none !important;
}

.floatRight {
    float: right;
}

.colorFacebook {
    color: #4267b2;
}

.colorLike {
    color: #4267b2 !important;
}
.colorFavorite {
    color: #ff3368;
}
.colorStar {
    color: #fbd600;
}
.font_sans {
    font-family: sans-serif;
    color: #797979;
    /*margin-left: 20px;*/
}
.rateHeight {
    height: 80px !important;
}
.marginLeft_0 {
    margin-left: 0px !important;
}

.quotesText {
    padding: 5px 20px;
    border-left: 2px solid #ff3368;
}
.iconEdit {
    color: #4267b2 !important;
    font-size: 16px;
}
.iconDel {
    color: #f53838 !important;
    font-size: 16px;
}

.listComment {
    max-height: 500px;
    overflow: scroll;
    overflow-x: hidden !important;
}

.review_list {
    max-height: 700px;
    overflow: scroll;
    overflow-x: hidden !important;
}

.maxHeight392 {
    max-height: 392px !important;
    max-width: 262px !important;
}
.reviewImg{
    max-height: 100% !important;
}
.like_us a {
    display: block;
}
.clGray {
    color: #797979;
}
.greenCL {
    color: green;
}
.redCL {
    color: red;
}
.blueCL {
    color: blue;
}
.scroll670 {
    max-height: 550px;
    overflow: scroll;
    overflow-x: hidden !important;
}
.canceledCL {
    color: red;
}
.pendingCL {
    color: blue;
}
.approvedCL {
    color: green;
}
.bgtb {
    background-color: hsla(222, 77%, 71%, 0);
}