{% load static %}
<script src="{% static 'home_page/js/jquery-1.12.1.min.js' %}"></script>
<script src="{% static 'home_page/js/popper.min.js' %}"></script>
<script src="{% static 'home_page/js/bootstrap.min.js' %}"></script>
<script src="{% static 'home_page/js/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'home_page/js/swiper.min.js' %}"></script>
<script src="{% static 'home_page/js/masonry.pkgd.js' %}"></script>
<script src="{% static 'home_page/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'home_page/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'home_page/js/slick.min.js' %}"></script>
<script src="{% static 'home_page/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'home_page/js/waypoints.min.js' %}"></script>
<script src="{% static 'home_page/js/contact.js' %}"></script>
<script src="{% static 'home_page/js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'home_page/js/jquery.form.js' %}"></script>
<script src="{% static 'home_page/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'home_page/js/mail-script.js' %}"></script>
<script src="{% static 'home_page/js/stellar.js' %}"></script>
<script src="{% static 'home_page/js/price_rangs.js' %}"></script>
<script src="{% static 'home_page/js/custom.js' %}"></script>