<div class="s_product_text">
    <h3>{{ book.title }}</h3>
    {#                <h2>$149.99</h2>#}
    <ul class="list">
        <li><a class="active disabled" href="#">
            <span>Category</span> : {{ book.category.name }}
        </a></li>
        <li>
            <a class="active disabled" href="#"><span>Author</span> : {{ book.author }}</a>
        </li>
        <li>
            <a class="active disabled" href="#"><span>Publish</span> : {{ book.get_publist }}</a>
        </li>
        <li>
            <a class="active disabled" href="#"><span>Page</span> : {{ book.pages }}</a>
        </li>
    </ul>
    <p>
        Mark this book: <br>
        <a href="{% url 'mark-read' book.id %}" class="genric-btn primary-border medium">
            Read
            {% if check_read %}
                <i class='fas fa-check'></i>
            {% endif %}
        </a>
        <a href="{% url 'mark-reading' book.id %}" class="genric-btn primary-border medium">
            Reading
            {% if check_reading %}
                <i class='fas fa-check'></i>
            {% endif %}
        </a><br>
        {% if request_status == 'pending' %}
            <br>
            <span class="font_sans">
                Your request to buy a new this book is <span class="blueCL">Pending</span>. <br>
                Or you can <a href="{% url 'request-book' book.id %}">Cancel it!</a>
            </span>
        {% elif request_status == 'canceled' %}
            <form action="{% url 'request-book' book.id %}" method="post">
                {% csrf_token %}
                <span class="font_sans">Your request to buy a new this book is
                    <span class="waringCL">Canceled</span>.<br>
                    Or you can send again: <br></span>
                <button class="genric-btn primary-border medium" type="submit">Send again</button>
            </form>
        {% elif request_status == 'approved' %}
            <form action="{% url 'request-book' book.id %}" method="post">
                {% csrf_token %}
                <span class="font_sans">Your request to buy a new this book is
                    <span class="greenCL">Approved</span>.<br>
                    Or you can send again: <br></span>
                <button class="genric-btn primary-border medium" type="submit">Send again</button>
            </form>
        {% else %}
            <form action="{% url 'request-book' book.id %}" method="post">
                {% csrf_token %}
                Send a request to buy a new this book: <br>
                <button class="genric-btn primary-border medium" type="submit">Send</button>
            </form>
        {% endif %}
    </p>
    <div class="card_area d-flex justify-content-between align-items-center">
        {% if book.book_url %}
            <a href="{{ book.book_url }}" target="_blank" class="btn_3">read this book</a>
        {% endif %}
        <a href="#" class="like_us" title="Share your facebook"> <i
                class="ti-facebook colorFacebook"></i> </a>
        <a href="#" class="like_us" title="Unlike"> <i class="fa fa-thumbs-up colorLike"></i> </a>
        {% if check_favorite %}
            <a href="{% url 'add-favorite' book.id %}" class="like_us" title="Remote from favorite">
                <i class="fa fa-heart colorFavorite"></i>
            </a>
        {% else %}
            <form id="formAddFavorite" action="{% url 'add-favorite' book.id %}" class="like_us" method="post">
                {% csrf_token %}
                <a id="addFavorite" href="#" title="Add to favorite"> <i class="fa fa-heart clGray"></i></a>
            </form>
        {% endif %}
    </div>
</div>