{% load static %}

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all">
<link rel="stylesheet" href="{% static 'assets/global/plugins/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/global/plugins/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/global/plugins/uniform/css/uniform.default.css' %}">
<link rel="stylesheet" href="{% static 'assets/global/plugins/select2/select2.css' %}">
<link rel="stylesheet" href="{% static 'assets/admin/pages/css/login-soft.css' %}">
<link rel="stylesheet" href="{% static 'assets/global/css/components.css' %}">
<link rel="stylesheet" href="{% static 'assets/global/css/plugins.css' %}">
<link rel="stylesheet" href="{% static 'assets/admin/layout/css/layout.css' %}">
<link rel="stylesheet" href="{% static 'assets/admin/layout/css/themes/darkblue.css' %}">
<link rel="stylesheet" href="{% static 'assets/admin/layout/css/custom.css' %}">
