<div class="pageination">
    <nav aria-label="Page navigation example">
        {% if books.has_other_pages %}
          <ul class="pagination justify-content-center">
            {% if books.has_previous %}
                <li class="page-item">
                    {% if search_key %}
                        <a class="page-link" aria-label="Previous"
                         href="?category={{ q_category }}&page={{ books.previous_page_number }}&search={{ search_key }}">
                            <i class="ti-angle-double-left"></i>
                        </a>
                    {% else %}
                        <a class="page-link" aria-label="Previous"
                         href="?category={{ q_category }}&page={{ books.previous_page_number }}">
                            <i class="ti-angle-double-left"></i>
                        </a>
                    {% endif %}
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link disabled" href="#" aria-label="Previous">
                        <i class="ti-angle-double-left"></i>
                    </a>
                </li>
            {% endif %}
            {% for i in books.paginator.page_range %}
              {% if books.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li class="page-item">
                    {% if search_key %}
                        <a class="page-link" href="?category={{ q_category }}&page={{ i }}&search={{ search_key }}">{{ i }}</a>
                    {% else %}
                        <a class="page-link" href="?category={{ q_category }}&page={{ i }}">{{ i }}</a>
                    {% endif %}
                </li>
              {% endif %}
            {% endfor %}
            {% if books.has_next %}
                <li class="page-item">
                    {% if search_key %}
                        <a class="page-link" aria-label="Next"
                           href="?category={{ q_category }}&page={{ books.next_page_number }}&search={{ search_key }}">
                            <i class="ti-angle-double-right"></i>
                        </a>
                    {% else %}
                        <a class="page-link" aria-label="Next"
                           href="?category={{ q_category }}&page={{ books.next_page_number }}">
                            <i class="ti-angle-double-right"></i>
                        </a>
                    {% endif %}
                </li>
            {% else %}
              <li class="page-item">
                    <a class="page-link disabled" href="#" aria-label="Next">
                        <i class="ti-angle-double-right"></i>
                    </a>
                </li>
            {% endif %}
          </ul>
        {% endif %}
    </nav>
</div>