{% load static %}
<div class="product_top_bar d-flex justify-content-between align-items-center">
    <div class="single_product_menu">
        <p><span>
            {% if search_count %}
                {{ search_count }}
            {% else %}
                {{ total_book }}
            {% endif %}
        </span> Prodict Found</p>
    </div>
    <div class="single_product_menu d-flex">
        <h5>short by : </h5>
        <select>
            <option value="short-name">name</option>
            <option value="short-rate">rate</option>
        </select>
    </div>
    <div class="single_product_menu d-flex">
        <h5>Page :</h5>
        <div class="top_pageniation">
            <ul>
                <li>{{ page }}</li>
            </ul>
        </div>
    </div>
    <div class="single_product_menu d-flex">
        <div class="input-group">
            <input id="inner_search" type="text" class="form-control" placeholder="search"
                aria-describedby="inputGroupPrepend">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend">
                    <a href="?category=all&page=1&search="><i class="ti-search"></i></a>
                </span>
            </div>
        </div>
    </div>
</div>
