<div class="modal fade" id="modal-view-content{{ comment.id }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Content of Comment</h3>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ comment.content}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>