{% extends 'layouts/master.html' %}
{% load static %}

{% block content %}
  <div class="page-content-wrapper">
    <div class="page-content">
      <div class="page-bar">
        <ul class="page-breadcrumb">
          <li>
            <a href="javascript:void(0)">Quản lý yêu cầu</a>
            <i class="fa fa-angle-right"></i>
          </li>
          <li>
            <a href="javascript:void(0)">Thêm mới</a>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="portlet box green-haze">
            <div class="portlet-title">
              <div class="caption">Thêm mới yêu cầu</div>
            </div>
            <div class="portlet-body form">
              <form method="POST" action="{% url 'user:request_create' %}" accept-charset="UTF-8" class="form-horizontal form-row-seperated">
                {% csrf_token %}
                <div class="form-body">
                  <div class="form-group {% if 'content' in form.errors %} has-error {% endif %}">
                    <label for="content" class="control-label col-md-3 required">Nội dung</label>
                    <div class="col-md-9">
                      <textarea style="width: 100%; padding: 10px" id="content" name="content" rows="10">{{ request.POST.content }}</textarea>
                      {% for error in form.errors.content %}
                        <span class="help-block help-block-error">
                            {{ error|escape }}
                        </span>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="form-actions">
                  <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                      <input class="btn green" type="submit" value="Thêm">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
      jQuery(document).ready(function () {
          FormSamples.init();
      });
  </script>
{% endblock %}
